
 @media only screen and (min-width: 1024px) {
   .specialCardCar {
      border: 2px solid #ff6810;
      padding: 10px;
      background-color: #f0f0f0;
    }
   .specialCardCar #imageBox {
      height: 30% !important;
   }
 }