.cardBox {
   width: 340px;
   height: 390px;
   overflow: hidden;
   border-radius: 20px;
   box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.dataBoxes {
   width: 33%;
}

.reviewBox {
   width: 320px;
   height: 300px;
   box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 20px;
   overflow: hidden;
}
