.gradientBackgroundTop {
   height: 450px;
   width: 100%;
   position: absolute;
   background: linear-gradient(180deg , #8aadff , #EDF2FA);
}

.button-bg {
   background: linear-gradient(90deg , #90b1ff , #6d99ff);
}

.button-bg:hover {
   background: linear-gradient(90deg , #5f8fff , #2d6cff);
}

.slider-container {
   width: 100%;
   height: 450px;
}

.slider-container2 {
   width: 100%;
   height: 400px;
}

 .slick-dots li.slick-active button:before {
   opacity: 1 !important;
   color: #7B8CDE !important;
 }
 
 .messageBox {
   box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.1);
 }

.secondElementBackground {
   background: linear-gradient(45deg, #dadada 50%, transparent 50%);
}

.secondElementBackgroundInner {
   height: 250px;
   width: 250px;
   rotate: 90deg;
   background: linear-gradient(45deg, transparent 50%, #aaaaaa 50%);
}

.elementBoxShadow {
   box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.buttonBG {
   background: linear-gradient(90deg , #5f8fff , #2d6cff);
   color: white;
}

.lightLine {
   height: 0.1px;
   width: 80%;
   background-color: #aaaaaa;
}

#searchBox {
   width: 40%;
}

#recommendedBox {
   height: 600px;
}

#mainMessageBox {
   height: 400px;
}

#reviewsBoxMain {
   height: 500px;
}

#mainTextMessage2 {
   display: none;
}

@media only screen and (min-width: 1024px) {
   #recommendedBox {
      height: auto;
   }
   #searchBoxBox {
      justify-content: flex-start;
      padding: 50px;
      padding-left: 250px;
      height: 90%;
   }
   #recommendedBox {
      width: 50%;
      z-index: 20;
   }
   .gradientBackgroundTop {
      height: 700px;
   }
   #messageBoxMainBox{
      position: relative;
      display: flex; 
      align-items: center;
   }
   #mainMessageBox {
      position: relative; /* Add this */
      width: 30%;
      margin-left: 210px;
      z-index: 10;
    }
    #mainMessageText {
      margin: 25px;
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 10px;
    }
    #reviewsBoxMain {
      z-index: 20;
      width: 50%;
    }
    .secondElementBackground {
      background: none;
    }
    .secondElementBackground2 {
      position: absolute;
      width: 70%;
      height: 1550px;
      left: 0;
      background: linear-gradient(45deg, #dadada 50%, transparent 50%);
    }
    .secondElementBackgroundInner {
      z-index: 2;
      height: 800px;
      width: 800px;
      background: linear-gradient(45deg, transparent 50%, #aaaaaa 50%);
   }
   #getAll {
      margin-top: 20px;
      width: auto;
      height: auto;
      padding: 30px;
      padding-top: 40px;
      padding-bottom: 40px;
   }
   #recommendedText {
      font-size: 37px;
   }
   #reviewMainText {
      font-size: 44px;
      margin-bottom: 10px;
      margin-top: 10px;
   }
   #mainTextMessage2 {
      display: block;
      width: 30%;
      margin-top: 50px;
      margin-left: 180px;
      font-weight: 500;
      font-size: 35px;
      text-align: center;
   }
 }